<div class="col-md-auto">
    <!-- TradingView Widget BEGIN -->

    <div class="tradingview-widget-container"style="height:100%; max-width:100%;">
      <div id="tradingview_96a31" style="height:100%; max-width:100%"></div>
    </div>
    <!-- TradingView Widget END -->
    <div class="center-widget">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="limit-tab" data-toggle="tab" href="#limit" role="tab" aria-controls="limit" aria-selected="true">Limit</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="market-tab" data-toggle="tab" href="#market" role="tab" aria-controls="market" aria-selected="false">Market</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="stop-limit-tab" data-toggle="tab" href="#stop-limit" role="tab" aria-controls="stop-limit" aria-selected="false">Stop-Limit</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="limit" role="tabpanel" aria-labelledby="limit-tab">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <h6 class="title"><strong>Buy TRX</strong><span class="pull-right">BTC: 3.87062</span></h6>
                        <div class="form-group">
                            <label for="">Price</label>
                            <input type="number" class="form-control" id="" placeholder="BTC">
                        </div>
                        <div class="form-group">
                            <label for="">Amount</label>
                            <input type="text" class="form-control" id="" placeholder="TRX">
                        </div>
                        <div class="form-group percent-btns">
                            <a href="#">25%</a>
                            <a href="#">50%</a>
                            <a href="#">75%</a>
                            <a href="#">100%</a>
                        </div>
                        <div class="form-group">
                            <label for="">Toal</label>
                            <input type="text" class="form-control" id="" placeholder="BTC">
                        </div>
                        <div class="form-group">
                            <a class="btn btn-primary">BUY</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <h6 class="title"><strong>Sell TRX</strong><span class="pull-right">BTC: 3.87062</span></h6>
                        <div class="form-group">
                            <label for="">Price</label>
                            <input type="number" class="form-control" id="" placeholder="BTC">
                        </div>
                        <div class="form-group">
                            <label for="">Amount</label>
                            <input type="text" class="form-control" id="" placeholder="TRX">
                        </div>
                        <div class="form-group percent-btns">
                            <a href="#">25%</a>
                            <a href="#">50%</a>
                            <a href="#">75%</a>
                            <a href="#">100%</a>
                        </div>
                        <div class="form-group">
                            <label for="">Toal</label>
                            <input type="text" class="form-control" id="" placeholder="BTC">
                        </div>
                        <div class="form-group">
                            <a class="btn btn-primary">SELL</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="market" role="tabpanel" aria-labelledby="market-tab">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <h6 class="title"><strong>Buy TRX</strong><span class="pull-right">BTC: 3.87062</span></h6>
                        <div class="form-group">
                            <label for="">Price</label>
                            <input type="text" class="form-control" id="" placeholder="BTC">
                        </div>
                        <div class="form-group">
                            <label for="">Amount</label>
                            <input type="text" class="form-control" id="" placeholder="TRX">
                        </div>
                        <div class="form-group percent-btns">
                            <a href="#">25%</a>
                            <a href="#">50%</a>
                            <a href="#">75%</a>
                            <a href="#">100%</a>
                        </div>
                        <div class="form-group">
                            <a class="btn btn-primary">BUY</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <h6 class="title"><strong>Sell TRX</strong><span class="pull-right">BTC: 3.87062</span></h6>
                        <div class="form-group">
                            <label for="">Price</label>
                            <input type="text" class="form-control" id="" placeholder="BTC">
                        </div>
                        <div class="form-group">
                            <label for="">Amount</label>
                            <input type="text" class="form-control" id="" placeholder="TRX">
                        </div>
                        <div class="form-group percent-btns">
                            <a href="#">25%</a>
                            <a href="#">50%</a>
                            <a href="#">75%</a>
                            <a href="#">100%</a>
                        </div>
                        <div class="form-group">
                            <a class="btn btn-primary">SELL</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="stop-limit" role="tabpanel" aria-labelledby="stop-limit-tab">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <h6 class="title"><strong>Buy TRX</strong><span class="pull-right">BTC: 3.87062</span></h6>
                        <div class="form-group">
                            <label for="">Stop</label>
                            <input type="number" class="form-control" id="" placeholder="BTC">
                        </div>
                        <div class="form-group">
                            <label for="">Limit</label>
                            <input type="number" class="form-control" id="" placeholder="BTC">
                        </div>
                        <div class="form-group">
                            <label for="">Amount</label>
                            <input type="text" class="form-control" id="" placeholder="TRX">
                        </div>
                        <div class="form-group percent-btns">
                            <a href="#">25%</a>
                            <a href="#">50%</a>
                            <a href="#">75%</a>
                            <a href="#">100%</a>
                        </div>
                        <div class="form-group">
                            <label for="">Toal</label>
                            <input type="text" class="form-control" id="" placeholder="BTC">
                        </div>
                        <div class="form-group">
                            <a class="btn btn-primary">BUY</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <h6 class="title"><strong>Buy TRX</strong><span class="pull-right">BTC: 3.87062</span></h6>
                        <div class="form-group">
                            <label for="">Stop</label>
                            <input type="number" class="form-control" id="" placeholder="BTC">
                        </div>
                        <div class="form-group">
                            <label for="">Limit</label>
                            <input type="number" class="form-control" id="" placeholder="BTC">
                        </div>
                        <div class="form-group">
                            <label for="">Amount</label>
                            <input type="text" class="form-control" id="" placeholder="TRX">
                        </div>
                        <div class="form-group percent-btns">
                            <a href="#">25%</a>
                            <a href="#">50%</a>
                            <a href="#">75%</a>
                            <a href="#">100%</a>
                        </div>
                        <div class="form-group">
                            <label for="">Toal</label>
                            <input type="text" class="form-control" id="" placeholder="BTC">
                        </div>
                        <div class="form-group">
                            <a class="btn btn-primary">BUY</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
