<!-- main app container -->
<!-- header -->
    <!-- <nav class="navbar">


      <div class="navbar-brand">
        <a class="navbar-item">
          <img  align="center" src="assets/images/smalltridesr1.png">
        </a>
      </div>
    </nav> -->
    <app-navbar></app-navbar>
    <div class="container ">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <alert></alert>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
