<div class="row ">
      <!-- <div class="col-md-auto">
        <h2> {{currentUser.firstName}} {{currentUser.lastName}}!</h2>
         -->
        <div class="col-md-6">
          <h2> User Details</h2>

          <table class="table table-striped">
            <tbody>
            <tr >
              <td >First name</td>
              <td>{{user.firstName}}</td>
            </tr>
            <tr >
              <td >Last name</td>
              <td>{{user.lastName}}</td>
            </tr>
            <tr >
              <td >Username</td>
              <td>{{user.username}}</td>
            </tr>
            <tr >
              <td >Email</td>
              <td>{{user.email}}</td>
            </tr>
            </tbody>
          </table>
          <h3> Wallet</h3>

          <table class="table table-striped">
            <tbody>
            <tr *ngFor="let key of keys" >
              <td>{{key}}</td>
              <td>{{wallet[key]}}</td>

            </tr>
            </tbody>
          </table>
            <button class="btn btn-success" (click)="editUser(user)"> Edit Account</button>
          <button class="btn btn-danger" (click)="delete(user)"> Delete Account</button>
        </div>

  </div>
