<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-item" [routerLink]="['/']" >

    <img src="assets/images/smalltridesr1.png" alt="logo" style="width:100px;">
  </a>
    <a class="navbar-brand nav-link " [routerLink]="['/']">Market Simulator</a>
<!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button> -->
<ul  *ngIf="nav.show; else logout" class="navbar-nav ml-auto">

  <li class="nav-item"><a class="nav-link" [routerLink]="['/register']" ><span class="fa fa-user-circle"></span> Sign Up</a></li>
  <li class="nav-item"><a class="nav-link" [routerLink]="['/login']" ><span class="fa fa-sign-in"></span> Login</a></li>
</ul>
<ng-template #logout>
<ul  class="navbar-nav ml-auto">
  <li class="nav-item"><a class="nav-link" href="/user" ><span class="fa fa-input">{{nav.username}}</span></a></li>
  <li class="nav-item"><a class="nav-link" [routerLink]="" (click)="auth.logout()" ><span class="fa fa-sign-out"></span> Logout</a></li>
</ul>
</ng-template>
</nav>
