<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- <a class="navbar-item" [routerLink]="['/']" >

    <img src="assets/images/fms-logo.png" alt="logo" style="width:60px;">
  </a> -->
    <a class="navbar-brand nav-link " [routerLink]="['/']" >
       <span class="navbar-brand mb-0 h1">Market Simulator</span></a>

<!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button> -->
<ul  *ngIf="nav.show; else logout" class="navbar-nav ml-auto">

  <li class="nav-item "><a class="nav-link" [routerLink]="['/register']" ><span class="fa fa-user-plus" style="font-size:20px"></span> Sign Up</a></li>
  <li class="nav-item "><a class="nav-link" [routerLink]="['/login']" ><span class="fa fa-sign-in" style="font-size:20px"></span> Login</a></li>
</ul>
<ng-template #logout>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item ">
      <a class="nav-link" [routerLink]="['/exchange']" >Exchange <span class="sr-only">(current)</span></a>
    </li>
  </ul>
<ul  class="navbar-nav ml-auto">
  <li class="nav-item "><a class="nav-link" href="/user" ><span class="fa fa-input">{{nav.username}}</span></a></li>
  <li class="nav-item "><a class="nav-link" (click)="auth.logout()" ><span class="fa fa-sign-out" style="font-size:20px"></span> Logout</a></li>
</ul>
</ng-template>
</nav>
